n8n-workflows/candidate-stage-change.json
{
  "name": "Candidate Stage Change",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate-stage",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.new_status }}",
              "operation": "notEqual",
              "value2": "hired"
            }
          ]
        }
      },
      "id": "if_not_hired",
      "name": "¿No es contratado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.new_status }}",
              "operation": "equal",
              "value2": "hired"
            }
          ]
        }
      },
      "id": "if_hired",
      "name": "¿Es contratado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_123456789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "onboarding@ai-recruitment.com"
            },
            {
              "name": "to",
              "value": "={{ $json.candidate_email || 'candidato@email.com' }}"
            },
            {
              "name": "subject",
              "value": "={{ 'Actualización: ' + $json.candidate_name + ' - ' + $json.job_title }}"
            },
            {
              "name": "text",
              "value": "={{ 'Hola ' + $json.candidate_name + ',\n\nTu estado en el proceso para ' + $json.job_title + ' ha cambiado a: ' + $json.new_status + '.\n\nEtapas del proceso:\n- Nuevo\n- En revisión\n- Entrevista\n- Prueba técnica\n- Oferta\n- Contratado\n- Rechazado\n\nGracias por tu interés.\n\nSaludos,\nEquipo de Reclutamiento' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http_candidate_email",
      "name": "HTTP Request - Email candidato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_123456789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "notificaciones@ai-recruitment.com"
            },
            {
              "name": "to",
              "value": "reclutador@empresa.com"
            },
            {
              "name": "subject",
              "value": "={{ '¡Contratado! ' + $json.candidate_name + ' - ' + $json.job_title }}"
            },
            {
              "name": "text",
              "value": "={{ 'El candidato ' + $json.candidate_name + ' ha sido contratado para ' + $json.job_title + '.\n\nRevisa los detalles en la plataforma.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http_recruiter_email",
      "name": "HTTP Request - Email reclutador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "¿No es contratado?",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Es contratado?",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "¿No es contratado?": {
      "main": [
        [
          {
            "node": "HTTP Request - Email candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es contratado?": {
      "main": [
        [
          {
            "node": "HTTP Request - Email reclutador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
