n8n-workflows/candidate-stage-change.json
{
  "name": "Candidate Stage Change",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate-stage",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.new_status }}",
              "operation": "notEqual",
              "value2": "hired"
            }
          ]
        }
      },
      "id": "if_not_hired",
      "name": "¿No es contratado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.new_status }}",
              "operation": "equal",
              "value2": "hired"
            }
          ]
        }
      },
      "id": "if_hired",
      "name": "¿Es contratado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 450]
    },
    {
      "parameters": {
        "from": "onboarding@resend.dev",
        "to": "cesarvelasquez150814@gmail.com",
        "subject": "={{ 'Actualización: ' + $json.body.candidate_name + ' - ' + $json.body.job_title }}",
        "html": "={{ `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<style>\nbody{margin:0;padding:0;background:#f9fafb;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;color:#374151}\n.card{max-width:560px;margin:24px auto;background:#fff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden}\n.header{background:#10b981;padding:20px;text-align:center}\n.header h1{color:#fff;margin:0;font-size:20px;font-weight:700}\n.body{padding:24px;text-align:center}\n.stage-badge{display:inline-block;padding:8px 24px;border-radius:999px;font-size:16px;font-weight:700;background:#ecfdf5;color:#047857;margin:16px 0}\n.stage-box{text-align:left;margin:20px 0;background:#f9fafb;padding:16px;border-radius:8px;border:1px solid #e5e7eb}\n.stage-box-title{font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:1px;color:#9ca3af;margin:0 0 8px}\n.stage-box-text{font-size:13px;color:#6b7280;margin:0}\n.footer{text-align:center;font-size:12px;color:#9ca3af;padding:16px 24px;border-top:1px solid #e5e7eb}\n</style>\n</head>\n<body>\n<div class=\"card\">\n<div class=\"header\"><h1>Actualizaci\u00f3n de tu Postulaci\u00f3n</h1></div>\n<div class=\"body\">\n<p style=\"font-size:16px;color:#111827\">Hola ${$json.body.candidate_name},</p>\n<p style=\"color:#6b7280\">Tu etapa en <strong>${$json.body.job_title}</strong> ha cambiado a:</p>\n<div class=\"stage-badge\">${$json.body.new_status_label}</div>\n<div class=\"stage-box\">\n<p class=\"stage-box-title\">Etapas del proceso</p>\n<p class=\"stage-box-text\">Nuevo \u2192 En revisi\u00f3n \u2192 Entrevista \u2192 Prueba t\u00e9cnica \u2192 Oferta \u2192 Contratado</p>\n</div>\n</div>\n<div class=\"footer\">Gracias por tu inter\u00e9s<br><strong>Equipo de Reclutamiento</strong></div>\n</div>\n</body>\n</html>` }}",
        "additionalOptions": {}
      },
      "id": "resend_candidate",
      "name": "Email candidato",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [700, 200],
      "credentials": {
        "resendApi": {
          "id": "L0POHiGu8Vlq9mRz",
          "name": "Resend account"
        }
      }
    },
    {
      "parameters": {
        "from": "onboarding@resend.dev",
        "to": "cesarvelasquez150814@gmail.com",
        "subject": "={{ '¡Contratado! ' + $json.body.candidate_name + ' - ' + $json.body.job_title }}",
        "html": "={{ `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<style>\nbody{margin:0;padding:0;background:#f9fafb;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;color:#374151}\n.card{max-width:560px;margin:24px auto;background:#fff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden}\n.header{background:#10b981;padding:24px;text-align:center}\n.header h1{color:#fff;margin:0;font-size:22px;font-weight:700}\n.body{padding:24px;text-align:center}\n.icon{font-size:64px;line-height:1;margin:8px 0}\n.name{font-size:18px;font-weight:700;color:#059669;margin:8px 0}\n.footer{text-align:center;font-size:12px;color:#9ca3af;padding:16px 24px;border-top:1px solid #e5e7eb}\n</style>\n</head>\n<body>\n<div class=\"card\">\n<div class=\"header\"><h1>Contrataci\u00f3n Confirmada</h1></div>\n<div class=\"body\">\n<div class=\"icon\">\uD83C\uDF89</div>\n<p class=\"name\">\u00a1${$json.body.candidate_name} ha sido contratado!</p>\n<p style=\"color:#6b7280\">para la vacante de <strong>${$json.body.job_title}</strong></p>\n<p style=\"font-size:13px;color:#6b7280;margin-top:20px\">Revisa los detalles en la plataforma.</p>\n</div>\n<div class=\"footer\">Equipo de Reclutamiento</div>\n</div>\n</body>\n</html>` }}",
        "additionalOptions": {}
      },
      "id": "resend_recruiter",
      "name": "Email reclutador",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [700, 450],
      "credentials": {
        "resendApi": {
          "id": "L0POHiGu8Vlq9mRz",
          "name": "Resend account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "¿No es contratado?",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Es contratado?",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "¿No es contratado?": {
      "main": [
        [
          {
            "node": "Email candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es contratado?": {
      "main": [
        [
          {
            "node": "Email reclutador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
