n8n-workflows/interview-scheduled.json
{
  "name": "Interview Scheduled",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interview-scheduled",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "from": "onboarding@resend.dev",
        "to": "cesarvelasquez150814@gmail.com",
        "subject": "={{ 'Entrevista agendada - ' + $json.body.job_title }}",
        "html": "={{ `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<style>\nbody{margin:0;padding:0;background:#f9fafb;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;color:#374151}\n.card{max-width:560px;margin:24px auto;background:#fff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden}\n.header{background:#f59e0b;padding:20px;text-align:center}\n.header h1{color:#fff;margin:0;font-size:20px;font-weight:700}\n.body{padding:24px}\n.greeting{font-size:16px;color:#111827;margin:0 0 8px}\n.date-box{text-align:center;background:#fffbeb;border:1px solid #fde68a;border-radius:12px;padding:20px;margin:20px 0}\n.date-label{font-size:11px;text-transform:uppercase;letter-spacing:1px;color:#92400e;font-weight:600}\n.date-value{font-size:18px;font-weight:700;color:#b45309;margin-top:4px}\n.footer{text-align:center;font-size:12px;color:#9ca3af;padding:16px 24px;border-top:1px solid #e5e7eb}\n</style>\n</head>\n<body>\n<div class=\"card\">\n<div class=\"header\"><h1>Entrevista Agendada</h1></div>\n<div class=\"body\">\n<p class=\"greeting\">Hola ${$json.body.candidate_name},</p>\n<p style=\"color:#6b7280\">Tu entrevista para <strong>${$json.body.job_title}</strong> ha sido agendada.</p>\n<div class=\"date-box\">\n<div class=\"date-label\">Fecha de la Entrevista</div>\n<div class=\"date-value\">${new Date($json.body.interview_date).toLocaleString('es-ES', { dateStyle: 'full', timeStyle: 'short' })}</div>\n</div>\n${$json.body.notes ? '<p style=\"color:#6b7280;font-size:13px\"><strong>Notas:</strong> ' + $json.body.notes + '</p>' : ''}\n<p style=\"color:#6b7280\">Por favor confirma tu asistencia respondiendo a este correo.</p>\n</div>\n<div class=\"footer\">Saludos,<br><strong>Equipo de Reclutamiento</strong></div>\n</div>\n</body>\n</html>` }}",
        "additionalOptions": {}
      },
      "id": "resend_candidate",
      "name": "Email candidato",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [550, 200],
      "credentials": {
        "resendApi": {
          "id": "L0POHiGu8Vlq9mRz",
          "name": "Resend account"
        }
      }
    },
    {
      "parameters": {
        "from": "onboarding@resend.dev",
        "to": "cesarvelasquez150814@gmail.com",
        "subject": "={{ 'Entrevista agendada: ' + $json.body.candidate_name + ' - ' + $json.body.job_title }}",
        "html": "={{ `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<style>\nbody{margin:0;padding:0;background:#f9fafb;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;color:#374151}\n.card{max-width:560px;margin:24px auto;background:#fff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden}\n.header{background:#f59e0b;padding:20px;text-align:center}\n.header h1{color:#fff;margin:0;font-size:20px;font-weight:700}\n.body{padding:24px}\n.field{display:flex;padding:8px 0;border-bottom:1px solid #f3f4f6}\n.flabel{width:120px;font-size:12px;font-weight:600;text-transform:uppercase;letter-spacing:.5px;color:#9ca3af}\n.fval{flex:1;font-size:14px;color:#111827}\n.footer{text-align:center;font-size:12px;color:#9ca3af;padding:16px 24px;border-top:1px solid #e5e7eb}\n</style>\n</head>\n<body>\n<div class=\"card\">\n<div class=\"header\"><h1>Entrevista Agendada</h1></div>\n<div class=\"body\">\n<p style=\"margin-top:0;color:#6b7280\">Se ha agendado una nueva entrevista.</p>\n<div class=\"field\"><span class=\"flabel\">Candidato</span><span class=\"fval\">${$json.body.candidate_name}</span></div>\n<div class=\"field\"><span class=\"flabel\">Email</span><span class=\"fval\">${$json.body.candidate_email}</span></div>\n<div class=\"field\"><span class=\"flabel\">Vacante</span><span class=\"fval\">${$json.body.job_title}</span></div>\n<div class=\"field\"><span class=\"flabel\">Fecha</span><span class=\"fval\">${new Date($json.body.interview_date).toLocaleString('es-ES', { dateStyle: 'full', timeStyle: 'short' })}</span></div>\n${$json.body.notes ? '<div class=\"field\"><span class=\"flabel\">Notas</span><span class=\"fval\">' + $json.body.notes + '</span></div>' : ''}\n<div style=\"height:1px;background:#e5e7eb;margin:16px 0\"></div>\n<p style=\"font-size:13px;color:#6b7280\">Revisa los detalles en la plataforma.</p>\n</div>\n<div class=\"footer\">Equipo de Reclutamiento</div>\n</div>\n</body>\n</html>` }}",
        "additionalOptions": {}
      },
      "id": "resend_recruiter",
      "name": "Email reclutador",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [550, 450],
      "credentials": {
        "resendApi": {
          "id": "L0POHiGu8Vlq9mRz",
          "name": "Resend account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Email candidato",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email reclutador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
